{% extends "layouts/default.njk" %} {% block content %}

<div class="header">
  <div class="container">
    <div class="main-menu">
      <ul>
        <li>
          <a href="">О Honey Kid </a>
        </li>
        <li>
          <a href="">Новости и акции</a>
        </li>
        <li>
          <a href="">Продукция</a>
        </li>
        <li>
          <a href="">Сертификация</a>
        </li>
        <li>
          <a href="">Где купить</a>
        </li>
      </ul>
    </div>
    <div class="header-social">
      <ul>
        <li>
          <a href="">
            <svg class="vk-icon">
              <use xlink:href="#vk-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="facebook-icon">
              <use xlink:href="#facebook-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="twitter-icon">
              <use xlink:href="#twitter-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="insta-icon">
              <use xlink:href="#insta-icon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="youtube-icon">
              <use xlink:href="#youtube-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>Присоединяйтесь к нам в соц. сетях</p>
    </div>
  </div>
</div>

<div class="block1">
  <div class="container">
    <div class="main-logo">
      <img src="images/logo.png" alt="">
    </div>
    <div class="honey-age">
      <img src="images/honey-age.png" alt="">
    </div>
  </div>
  <div class="container container-big">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background: #fff;">
          <div class="slider-info">
            <div class="slider-info--title">Только до 1 апреля</div>
            <div class="slider-info--text">Скидка 20% на продукцию Honey Kid по промокоду loveyouhoney. А кроме этого, получите возможность выиграть семейную
              фотосессию!
            </div>
          </div>
          <div class="slider-image">
            <img src="images/slider1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide" style="background: #fff;">
          <div class="slider-info">
            <div class="slider-info--title">Только до 2 апреля</div>
            <div class="slider-info--text">Скидка 20% на продукцию Honey Kid по промокоду loveyouhoney. А кроме этого, получите возможность выиграть семейную
              фотосессию!
            </div>
          </div>
          <div class="slider-image">
            <img src="images/slider1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide" style="background: #f7f9fa;">
          <div class="slider-info">
            <div class="slider-info--title">Только до 3 апреля</div>
            <div class="slider-info--text">Скидка 20% на продукцию Honey Kid по промокоду loveyouhoney. А кроме этого, получите возможность выиграть семейную
              фотосессию!
            </div>
          </div>
          <div class="slider-image">
            <img src="images/slide1.png" alt="">
          </div>
        </div>

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>
  </div>
  <div class="block1-footer">
    <img src="images/block1-footer.jpg" alt="">
  </div>
</div>

<div class="block2">
  <div class="container container-big">
    <div class="block2-image">
      <img src="images/block2.png" alt="">
    </div>
    <div class="block2-text">
      <h2>О нас</h2>
      <p>Объединяя высококачественные и безопасные товары по уходу за детьми, бренд Honey Kid ежедневно заботится о малышах
        и помогает мамам растить здоровых детей, создавая основу для полноценного развития. Ассортимент включает в себя товары,
        которые необходимы маме для ежедневного ухода за малышом - питание, вода, подгузники, трусики, пеленки, влажные салфетки
        и  средства для купания. Продаваясь в магазинах у дома, товары под брендом Honey Kid, помогают мамам рационально
        планировать свой день, меньше тратить времени и сил на походы по магазинам и высвободить драгоценное время, которое
        они могут посвятить не только малышу, но и себе. </p>
    </div>
  </div>
</div>

<div class="block3">
  <div class="container">
    <h2>Новости и акции</h2>
    <div class="news-list">
      <div class="news-list__item">
        <img src="images/news1.png" alt="">
        <div class="news-list__title">Йога для малышей</div>
        <div class="news-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo, eu vehicula nisl dictum.
          Mauris venenatis turpis tincidunt, lobortis augue vel, pulvinar nibh. Quisque et pretium ante.
        </div>
        <a href="" class="btn btn-small">подробнее</a>
      </div>
      <div class="news-list__item">
        <img src="images/news2.png" alt="">
        <div class="news-list__title">Почему мама так вкусно пахнет?</div>
        <div class="news-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo, eu vehicula nisl dictum.
          Mauris venenatis turpis tincidunt, lobortis augue vel, pulvinar nibh. Quisque et pretium ante.
        </div>
        <a href="" class="btn btn-small">подробнее</a>
      </div>
      <div class="news-list__item">
        <img src="images/news3.png" alt="">
        <div class="news-list__title">Изучаем кубики</div>
        <div class="news-list__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo, eu vehicula nisl dictum.
          Mauris venenatis turpis tincidunt, lobortis augue vel, pulvinar nibh. Quisque et pretium ante.
        </div>
        <a href="" class="btn btn-small">подробнее</a>
      </div>

    </div>
    <a href="" class="btn btn-orange">Все новости</a>
  </div>
</div>

<div class="block4">
  <div class="container container-big">
    <h2>Наши продукты</h2>
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/product1.png" alt="">
            </div>
            <div class="product-item__title">Подгузники MIDI</div>
            <div class="product-item__list">
              <ul>
                <li>Размер: 3</li>
                <li>Вес: 4-9 кг</li>
                <li>Объем упаковки: __ шт</li>
                <li>Дышащая поверхность</li>
                <li>Надёжная защита</li>
                <li>Эластичные застежки</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/product1.png" alt="">
            </div>
            <div class="product-item__title">Подгузники MAXI</div>
            <div class="product-item__list">
              <ul>
                <li>Размер: 3</li>
                <li>Вес: 4-9 кг</li>
                <li>Объем упаковки: __ шт</li>
                <li>Дышащая поверхность</li>
                <li>Надёжная защита</li>
                <li>Эластичные застежки</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/product1.png" alt="">
            </div>
            <div class="product-item__title">Подгузники JUNIOR</div>
            <div class="product-item__list">
              <ul>
                <li>Размер: 3</li>
                <li>Вес: 4-9 кг</li>
                <li>Объем упаковки: __ шт</li>
                <li>Дышащая поверхность</li>
                <li>Надёжная защита</li>
                <li>Эластичные застежки</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/product1.png" alt="">
            </div>
            <div class="product-item__title">Пеленки одноразовые</div>
            <div class="product-item__list">
              <ul>
                <li>Размер: 3</li>
                <li>Вес: 4-9 кг</li>
                <li>Объем упаковки: __ шт</li>
                <li>Дышащая поверхность</li>
                <li>Надёжная защита</li>
                <li>Эластичные застежки</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/product1.png" alt="">
            </div>
            <div class="product-item__title">Подгузники MIDI</div>
            <div class="product-item__list">
              <ul>
                <li>Размер: 3</li>
                <li>Вес: 4-9 кг</li>
                <li>Объем упаковки: __ шт</li>
                <li>Дышащая поверхность</li>
                <li>Надёжная защита</li>
                <li>Эластичные застежки</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<div class="block5">
  <div class="container container-big">
    <h2>Сертификация</h2>
    <p class="block5-text">Вся продукция сертифицирована, проходит строгий контроль и соответствует законодательству Российской Федерации. Для производства
      детского питания используются только натуральные ингредиенты, без добавления консервантов и искусственных добавок.
      Материалы, используемые для производства салфеток, подгузников и трусиков всегда гарантированно высокого качества.</p>
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/cert1.png" alt="">
            </div>
            <div class="product-item__title">Сертификат соответствия</div>
            <div class="product-item__list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/cert1.png" alt="">
            </div>
            <div class="product-item__title">Сертификат соответствия</div>
            <div class="product-item__list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/cert1.png" alt="">
            </div>
            <div class="product-item__title">Сертификат соответствия</div>
            <div class="product-item__list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-item">
            <div class="product-item__image">
              <img src="images/cert1.png" alt="">
            </div>
            <div class="product-item__title">Сертификат соответствия</div>
            <div class="product-item__list">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra urna at orci commodo.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
</div>

<div class="block6">
  <div class="container">
    <h2>Где купить</h2>
    <p>Продукцию Honey Kid можно приобрести в любом магазине сети «Пятёрочка», «Перекрёсток», «Карусель»*. </p>
    <div class="contact-info">
      <div class="contact-info__item">
        <p>Более
          <span>13 790</span>магазинов по России</p>
      </div>
      <div class="contact-info__item">
        <p>Более
          <span>800</span>городов присутствия</p>
      </div>
    </div>
    <div class="stores-list">
      <div class="stores-list__item">
        <div class="stores-list__image">
          <img src="images/store1.png" alt="">
        </div>
        <p>13 000 магазинов</p>
      </div>
      <div class="stores-list__item">
        <div class="stores-list__image">
          <img src="images/store2.png" alt="">
        </div>
        <p>700 магазинов</p>
      </div>
      <div class="stores-list__item">
        <div class="stores-list__image">
          <img src="images/store3.png" alt="">
        </div>
        <p>93 магазина</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="main-menu">
      <ul>
        <li>
          <a href="">О Honey Kid </a>
        </li>
        <li>
          <a href="">Новости и акции</a>
        </li>
        <li>
          <a href="">Продукция</a>
        </li>
        <li>
          <a href="">Сертификация</a>
        </li>
        <li>
          <a href="">Где купить</a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <div class="header-social">
        <ul>
          <li>
            <a href="">
              <svg class="vk-icon">
                <use xlink:href="#vk-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="facebook-icon">
                <use xlink:href="#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="twitter-icon">
                <use xlink:href="#twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="insta-icon">
                <use xlink:href="#insta-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="youtube-icon">
                <use xlink:href="#youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p>Присоединяйтесь к нам в соц. сетях</p>
      </div>
      <div class="footer-logo">
        <img src="images/logo.png" alt="">
      </div>
      <div class="footer-text">
        <p>По всем интересующим вопросам пишите нам на почту control@x5.ru или звоните по телефону горячей лини ФТС «Пятерочка»
          8-800-555-55-05
        </p>
        <p class="footnote">* «Кроме детского питания. Питание представлено только в ФТС «Пятерочка»</p>
      </div>
    </div>

  </div>
</div>

{% endblock %}