<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GolderMall</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico" />

    <!-- build:css(.) styles/vendor.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="node_modules/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="node_modules/slider-pro/dist/css/slider-pro.min.css">
    <link rel="stylesheet" href="node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor/modernizr.min.js -->
    <script src="node_modules/npm-modernizr/modernizr.js"></script>
    <!-- endbuild -->
    
    <!-- build:js(.) scripts/vendor/respond.min.js -->
    <!--[if lt IE 9]>
    <script src="node_modules/respond/main.js"></script>
    <![endif]-->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    
    {# import some variable from ../_partials/variables.njk file and use it later if needed #}
    {% from "_partials/variables.njk" import developers %} 
    {% include "_partials/svg.njk" %}
    {% include "_partials/modal.njk" %}

    {% block content %}{% endblock %}
    
    <!-- build:js(.) scripts/vendor.min.js -->
    <!-- bower:js -->

    {# {{ 'markup' variable is delivered from gulpfile's 'views' task data object #}
    {% if markup %}
    <script src="node_modules/jquery/dist/jquery.js"></script>
    {% endif %}

    <script src="node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="node_modules/inputmask/dist/jquery.inputmask.bundle.js"></script>
    <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script src="node_modules/slider-pro/dist/js/jquery.sliderPro.min.js"></script>
    <script type="text/javascript" src="node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <!-- build:js(.tmp) scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

     <!-- build:js scripts/forms.js -->
    <script src="scripts/forms.js"></script>  
    <!-- endbuild -->


</body>
</html>
