<footer class="footer">
  <div class="container clearfix">
    <div class="footer-block">
      {% include "_partials/menu-footer.njk" %}
      <div class="footer-info">
        <div class="footer-menu">
          <ul>
            <li>
              <a href="about.html">О магазине</a>
            </li>
            <li>
              <a href="info.html">Информация для покупателей</a>
            </li>
            <li>
              <a href="payment.html">Оплата</a>
            </li>
            <li>
              <a href="delivery.html">Доставка</a>
            </li>
            <li>
              <a href="brands.html">Бренды</a>
            </li>
            <li>
              <a href="review.html">Обзор</a>
            </li>
          </ul>
        </div>
        <div class="payment-systems">
          <img src="images/visa.png" alt="" width="60px">
          <img src="images/mastercard.png" alt="" width="41px">
          <img src="images/payment3.png" alt="" width="24px">
          <img src="images/payment4.png" alt="" width="26px">
          <img src="images/payment5.png" alt="" width="28px">
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-column">
          <div class="footer-tel">+7 (495) 212-07-11</div>
          <div class="footer-contacts">
            <p>143900 МО, г Балашиха, Западная коммунальная зона, </p>
            <p>Шоссе Энтузиастов 1А, 2 этаж</p>
            <p>
              <a href="mailto:support@goldermall.ru">support@goldermall.ru</a>
            </p>
          </div>
        </div>
        <div class="footer-column">
          <p><a href="sitemap.html">Карта сайта</a></p>
          <p>&nbsp;</p>
          <p>© 2003 – 2018 Голдер-Электроникс. Все права защищены.</p>
        </div>
        <div class="footer-column">
          <div class="footer-link">
            <a href="" data-toggle="modal" data-target="#callback-modal" class="btn btn-link">
              <svg class="call-icon">
                <use xlink:href="#call-icon"></use>
              </svg>
              обратный звонок
            </a>
            <a href="" data-toggle="modal" data-target="#question-modal" class="btn btn-link">
              <svg class="quest-icon">
                <use xlink:href="#quest-icon"></use>
              </svg>
              задать вопрос
            </a>
          </div>

        </div>
      </div>
    </div>


  </div>
</footer>