<header class="header">
{% include "_partials/menu.njk" %}
</header>

<div class="mobile-menu">
  <div class="mobile-back">
    <a href=""><img src="images/mob-back.png" alt=""><span>Назад</span></a>
  </div>
  <div class="main-mobile-container">
    <div class="mobile-top">
      <div class="profile-top">
        <a href="profile.html" data-toggle="modal" data-target="#registration-modal" class="btn btn-link">
          <svg class="user-icon">
            <use xlink:href="#user-icon"></use>
          </svg>
          <span>konstantin@konstantinopolsky.ru</span>
        </a>
        <a href="#" data-toggle="modal" data-target="#registration-modal" class="btn btn-link">
          <svg class="logout-icon">
            <use xlink:href="#logout-icon"></use>
          </svg>
        </a>
      </div>

      <ul class="mobile-menu--child">
        <li class="has-child">
          <a href="">Техника для кухни</a>
          <ul class="mobile-submenu">
            <li class="has-child">
              <a href="">Уход за домом</a>
              <ul class="mobile-submenu">
                <li>
                  <a href="">Техника для кухни</a>
                </li>
                <li>
                  <a href="">Техника для дома</a>
                </li>
                <li>
                  <a href="">Персональный уход</a>
                </li>
                <li>
                  <a href="">Посуда</a>
                </li>
              </ul>
            </li>
            <li class="has-child">
              <a href="">Уход за одеждой</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <a href="">Техника для дома</a>
          <ul class="mobile-submenu">
            <li class="has-child">
              <a href="">Уход за домом</a>
              <ul class="mobile-submenu">
                <li>
                  <a href="">Техника для кухни</a>
                </li>
                <li>
                  <a href="">Техника для дома</a>
                </li>
                <li>
                  <a href="">Персональный уход</a>
                </li>
                <li>
                  <a href="">Посуда</a>
                </li>
              </ul>
            </li>
            <li class="has-child">
              <a href="">Уход за одеждой</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <a href="">Техника для кухни</a>
          <ul class="mobile-submenu">
            <li class="has-child">
              <a href="">Уход за домом</a>
              <ul class="mobile-submenu">
                <li>
                  <a href="">Техника для кухни</a>
                </li>
                <li>
                  <a href="">Техника для дома</a>
                </li>
                <li>
                  <a href="">Персональный уход</a>
                </li>
                <li>
                  <a href="">Посуда</a>
                </li>
              </ul>
            </li>
            <li class="has-child">
              <a href="">Уход за одеждой</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
          </ul>
        </li>
        <li class="has-child">
          <a href="">Техника для кухни</a>
          <ul class="mobile-submenu">
            <li class="has-child">
              <a href="">Уход за домом</a>
              <ul class="mobile-submenu">
                <li>
                  <a href="">Техника для кухни</a>
                </li>
                <li>
                  <a href="">Техника для дома</a>
                </li>
                <li>
                  <a href="">Персональный уход</a>
                </li>
                <li>
                  <a href="">Посуда</a>
                </li>
              </ul>
            </li>
            <li class="has-child">
              <a href="">Уход за одеждой</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
            <li class="has-child">
              <a href="">Климатическая техника</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="mobile-menu-list">
        <ul>
          <li>
              <a href="">Личный кабинет   </a>           
          </li>
          <li>
            <a href="">О магазине</a>
          </li>
          <li>
            <a href="">Оплата</a>              
          </li>
          <li>
            <a href="">Доставка</a>
          </li>
          <li>
            <a href="">Информация для покупателей</a>
          </li>
          <li>
            <a href="">Бренды</a>
          </li>
          <li>
            <a href="">Новости</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="menu-overlay">
  <a href="" class="close-menu">
    <span></span>
    <span></span>
  </a>
</div>