<div class="main-menu pink-menu main-menu--footer">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="" class="nav-link">
                <span class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                Каталог товаров
            </a>
            <ul class="sub-menu-fullwidth">
                <div class="sub-menu__column">
                    <div class="sub-menu__title">Техника для кухни</div>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление горячих напитков</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3 например будет написана в две строки</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Обработка продуктов</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление пищи</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu__column">
                    <div class="sub-menu__title">Техника для дома</div>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление горячих напитков</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3 например будет написана в две строки</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Обработка продуктов</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Обработка продуктов</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление пищи</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu__column">
                    <div class="sub-menu__title">Техника для кухни</div>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление горячих напитков</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3 например будет написана в две строки</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Обработка продуктов</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление пищи</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                </div>
                <div class="sub-menu__column">
                    <div class="sub-menu__title">Техника для кухни</div>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление горячих напитков</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3 например будет написана в две строки</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Обработка продуктов</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                    <dl class="sub-menu__list">
                        <dt class="sub-menu__subtitle">
                            <a href="">Приготовление пищи</a>
                        </dt>
                        <dd class="sub-menu__item">
                            <a href="">Категория 1</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 2</a>
                        </dd>
                        <dd class="sub-menu__item">
                            <a href="">Категория 3</a>
                        </dd>
                    </dl>
                </div>
            </ul>
        </li>
        <li class="nav-item has-child">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-kitchen">
                    <use xlink:href="#kitchen-icon"></use>
                </svg>
                Техника для кухни
            </a>
            <ul class="submenu">
                <li class="has-child">
                    <a href="" title="Приготовление горячих напитков">Уход за волосами</a>
                    <ul class="submenu">
                        <li>
                            <a href="" title="Фены">Фены</a>
                        </li>
                        <li>
                            <a href="" title="Фены">Фены</a>
                        </li>
                        <li>
                            <a href="" title="Фены">Фены</a>
                        </li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="/catalog/tehnika-dlya-kuhni/food-processing/" title="Обработка продуктов">Красота и здоровье</a>
                    <ul class="submenu">
                        <li>
                            <a href="" title="">Бритвы электрические </a>
                        </li>
                        <li>
                            <a href="">Напольные весы</a>
                        </li>
                        <li>
                            <a href="">Наборы для маникюра и педикюра</a>
                        </li>
                        <li>
                            <a href="">Лампы для маникюра</a>
                        </li>
                        <li>
                            <a href="">Массажные ванночки для ног</a>
                        </li>
                        <li>
                            <a href="">Массажеры для тела</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-iron">
                    <use xlink:href="#iron-icon"></use>
                </svg>
                Техника для дома
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-beauty">
                    <use xlink:href="#beauty-icon"></use>
                </svg>
                Персональный уход
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-dishes">
                    <use xlink:href="#dishes-icon"></use>
                </svg>
                Посуда и аксессуары
            </a>
        </li>
    </ul>
</div>