<!-- Регистрация -->
<div class="modal fade" tabindex="-1" role="dialog" id="registration-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Регистрация</h4>
      </div>
      <div class="modal-body">
        <p>Для регистрации на сайте, пожалуйста, заполните все поля</p>
        <form action="" class="form registration-form">
          <div class="form-group">
            <input type="text" placeholder="Имя" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Фамилия" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Телефон" class="form-control tel-input">
          </div>
          <div class="form-group">
            <input type="password" id="password" placeholder="Пароль" class="form-control password-input">
          </div>
          <div class="form-group">
            <input type="password" id="password-repeat" placeholder="Повторите пароль" class="form-control password-input">
          </div>

          <div class="form-group">
            <input id="checkbox1" type="checkbox" value="option1" class="required-checkbox">
            <label for="checkbox1" class="checkbox-inline">Принимаю
              <a href="">политику конфиденциальности</a>
            </label>

            <input id="checkbox2" type="checkbox" value="option1">
            <label for="checkbox2" class="checkbox-inline">Подписаться на рассылку</label>
          </div>

          <button type="submit" class="btn btn-blue next-modal" data-target="#registration-success-modal" disabled>Зарегистрироваться</button>
        </form>
      </div>

    </div>
    <!-- end .modal-content -->
  </div>
  <!-- end .modal-dialog -->
</div>
<!-- end .modal -->

<!-- Регистрация - сообщение-->
<div class="modal fade" tabindex="-1" role="dialog" id="registration-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Регистрация</h4>
      </div>
      <div class="modal-body">
        <p>Письмо с подтверждением регистрации направлено на ваш e-mail</p>
        <a href="" class="red-link next-modal" data-target="#authorization-modal">Авторизация</a>
      </div>

    </div>
    <!-- end .modal-content -->
  </div>
  <!-- end .modal-dialog -->
</div>
<!-- end .modal -->

<!-- Вход -->
<div class="modal fade" tabindex="-1" role="dialog" id="authorization-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Вход на сайт</h4>
      </div>
      <div class="modal-body">
        <p>Для входа на сайт необходима авторизация</p>
        <form action="" class="form authorization-form">

          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Пароль" class="form-control">
          </div>


          <button type="submit" class="btn btn-blue" disabled>Войти на сайт</button>
        </form>

        <a href="" class="red-link next-modal" data-target="#password-recovery-modal">Забыли пароль?</a>
      </div>

    </div>
    <!-- end .modal-content -->
  </div>
  <!-- end .modal-dialog -->
</div>
<!-- end .modal -->

<!-- Восстановление пароля -->
<div class="modal fade" tabindex="-1" role="dialog" id="password-recovery-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Восстановление пароля</h4>
      </div>
      <div class="modal-body">
        <p>Пожалуйста, введите e-mail, указанный при регистрации</p>
        <form action="" class="form registration-form">

          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>

          <button type="submit" class="btn btn-blue next-modal" data-target="#password-recovery-success-modal" disabled>Восстановить пароль</button>
        </form>

        <a href="" class="red-link next-modal" data-target="#authorization-modal">Авторизация</a>
      </div>

    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Восстановление пароля - сообщение-->
<div class="modal fade" tabindex="-1" role="dialog" id="password-recovery-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Восстановление пароля</h4>
      </div>
      <div class="modal-body">
        <p>Инструкции по восстановлению пароля отправлены на ваш e-mail</p>

        <a href="" class="red-link next-modal" data-target="#authorization-modal">Авторизация</a>
      </div>

    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Поиск -->
<div class="modal fade" tabindex="-1" role="dialog" id="search-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Поиск продукции</h4>
      </div>
      <div class="modal-body">

        <form action="" class="form search-form">

          <div class="form-group">
            <input type="text" placeholder="Что будем искать?" class="form-control">
          </div>

          <button type="submit" class="btn btn-blue">Найти</button>
        </form>

      </div>

    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Задать вопрос -->
<div class="modal fade" tabindex="-1" role="dialog" id="question-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Задать вопрос</h4>
      </div>
      <div class="modal-body">
        <p>Есть вопросы, пожелания? Просто напишите нам.</p>
        <form action="" class="form question-form">
          <div class="form-group half">
            <input type="text" placeholder="Имя" class="form-control">
            <input type="text" placeholder="Фамилия" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Ваше сообщение" name="" id="" cols="30" rows="7"></textarea>
          </div>

          <button type="submit" class="btn btn-blue next-modal" data-target="#question-success-modal">Отправить сообщение</button>

          <div class="form-group centered">
            <input id="checkbox-conf" type="checkbox" value="option1">
            <label for="checkbox-conf" class="checkbox-inline">Принимаю
              <a href="">политику конфиденциальности</a>
            </label>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Задать вопрос - сообщение-->
<div class="modal fade" tabindex="-1" role="dialog" id="question-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Задать вопрос</h4>
      </div>
      <div class="modal-body">
        <p>Ваше сообщение было успешно отправлено. Мы постараемся ответить вам как можно скорее. </p>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Обратный звонок -->
<div class="modal fade" tabindex="-1" role="dialog" id="callback-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Обратный звонок</h4>
      </div>
      <div class="modal-body">
        <p>Заполните форму и мы перезвоним вам в ближайшее время*</p>
        <form action="" class="form question-form">
          <div class="form-group half">
            <input type="text" placeholder="Имя" class="form-control">
            <input type="text" placeholder="Фамилия" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>

          <button type="submit" class="btn btn-blue next-modal" data-target="#question-success-modal">Заказать звонок</button>

          <div class="form-group centered">
            <input id="checkbox-conf2" type="checkbox" value="option1">
            <label for="checkbox-conf2" class="checkbox-inline">Принимаю
              <a href="">политику конфиденциальности</a>
            </label>
          </div>

          <div class="form-note">* Наши менеджеры перезвонят Вам в течение 30 минут после отправки сообщения. Звонки осуществляются в рабочее время
            с 9:00 до 18:00. Выходные - суббота, воскресенье.</div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Смена e-mail -->
<div class="modal fade" tabindex="-1" role="dialog" id="email-change-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Смена e-mail</h4>
      </div>
      <div class="modal-body">
        <p>Пожалуйста, укажите новый e-mail</p>
        <form action="" class="form registration-form">
          <div class="form-group">
            <input type="text" placeholder="E-mail" class="form-control email-input">
          </div>
          <button type="submit" class="btn btn-blue next-modal" data-target="#email-change-success-modal" disabled>Сменить e-mail</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Смена e-mail - cообщение-->
<div class="modal fade" tabindex="-1" role="dialog" id="email-change-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Смена e-mail</h4>
      </div>
      <div class="modal-body">
        <p>Необходимо подтвердить новый адрес. На указанный e-mail отправлено письмо с подтверждением. Проверьте ваш ящик.</p>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Смена пароля -->
<div class="modal fade" tabindex="-1" role="dialog" id="password-change-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Смена пароля</h4>
      </div>
      <div class="modal-body">
        <p>Пожалуйста, введите текущий и новый пароли</p>
        <form action="" class="form registration-form">
          <div class="form-group">
            <input type="password" placeholder="Текущий пароль" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Новый пароль" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Повторите новый пароль" class="form-control">
          </div>
          <button type="submit" class="btn btn-blue next-modal" data-target="#password-change-success-modal" disabled>Сменить пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Смена пароля - cообщение-->
<div class="modal fade" tabindex="-1" role="dialog" id="password-change-success-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Смена пароля</h4>
      </div>
      <div class="modal-body">
        <p>Ваш пароль успешно изменен.</p>
      </div>
    </div>
  </div>
</div>
<!-- end .modal -->

<!-- Купить в один клик -->
<div class="modal fade" tabindex="-1" role="dialog" id="quick-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Быстрый заказ</h4>
      </div>
      <div class="modal-body">
        <div class="quick-order">
          <div class="quick-order-image">
            <img src="images/order222.png" alt="">
          </div>
          <div class="quick-order-info">
            <div class="quick-order-info__title">
              <a href="">Пылесос с аквафильтром 
                VITEK VT-1833 PR</a>
            </div>
            <div class="quick-order-info__price">9990 ₽</div>
          </div>
        </div>
        <form action="" class="form registration-form">
          <div class="form-group">
            <input type="text" placeholder="Представьтесь, пожалуйста" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Ваш номер телефона" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Ваш e-mail" class="form-control email-input">
          </div>
          
          <button type="submit" class="btn btn-blue next-modal" data-target="#registration-success-modal" disabled>Зарегистрироваться</button>
        </form>
      </div>

    </div>
    <!-- end .modal-content -->
  </div>
  <!-- end .modal-dialog -->
</div>
<!-- end .modal -->
