@font-face {
  font-family: 'Merge Pro';
  src: url('../fonts/subset-MergePro-Regular.woff2') format('woff2'),
      url('../fonts/subset-MergePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

