
// fonts
$font-primary-regular: 'ibm_plex_sansregular', Helvetica, Arial, sans-serif;
$font-primary-bold: 'ibm_plex_sansbold', Helvetica, Arial, sans-serif;
$font-primary-semibold: 'ibm_plex_sanssemibold', Helvetica, Arial, sans-serif;
$font-primary-medium: 'ibm_plex_sansmedium', Helvetica, Arial, sans-serif;

$font-secondary-regular: Helvetica, Arial, sans-serif;

$font-icons: 'websymbolsligaregular';

$font-numbers: 'Helvetica Neue', Arial, sans-serif;

// colors
$color-primary: #000;
$color-secondary: #000;
$color-gray: #e6e6e6;

// transitions
$transition-primary: .3s;
